@use "./base.scss";

// put your custom CSS here!
.callout {
    &[data-callout="theorem"], 
    &[data-callout="axiom"],
    &[data-callout="proposition"], 
    &[data-callout="lemma"],
    &[data-callout="definition"] {
        --color: var(--dark);
        --border: var(--darkgray);
        --bg: var(--light);
        --callout-icon: url("");

        font-family: 'Times New Roman', Times, serif;
        font-style: var(--body-style);

        .callout-title {
            font-style: normal;
            font-weight: normal;
            display: flex;
            align-items: baseline;

            .callout-icon {
                display: none;
            }

            &::before {
                font-weight: bold;
                content: var(--callout-prefix);
                text-transform: captialize;
            }

            & > .callout-title-inner {
                font-weight: normal;
                display: inline;
                align-items: baseline;
                gap: 0;

                & > p {
                    &::before {
                        content: " (";
                    }
                    &::after {
                        content: ").";
                        margin-left: 0;
                        gap: 0;
                    }
                }
            }
        }
    }

    &[data-callout="theorem"] {
        --callout-prefix: "Theorem";
        --body-style: italic;
    }
    &[data-callout="axiom"] {
        --callout-prefix: "Axiom";
        --body-style: italic;
    }
    &[data-callout="proposition"] {
        --callout-prefix: "Proposition";
        --body-style: italic;
    }
    &[data-callout="lemma"] {
        --callout-prefix: "Lemma";
        --body-style: italic;
    }
    &[data-callout="definition"] {
        --callout-prefix: "Definition";
        --body-style: normal;
    }
}


// .callout-title {
//     display: flex;
//     align-items: flex-start;
//     gap: 5px;
//     padding: 1rem 0;
//     color: var(--color);
  
//     --icon-size: 18px;
  
//     & .fold-callout-icon {
//       transition: transform 0.15s ease;
//       opacity: 0.8;
//       cursor: pointer;
//       --callout-icon: var(--callout-icon-fold);
//     }
  
//     & > .callout-title-inner > p {
//       color: var(--color);
//       margin: 0;
//     }
  
//     .callout-icon,
//     & .fold-callout-icon {
//       width: var(--icon-size);
//       height: var(--icon-size);
//       flex: 0 0 var(--icon-size);
  
//       // icon support
//       background-size: var(--icon-size) var(--icon-size);
//       background-position: center;
//       background-color: var(--color);
//       mask-image: var(--callout-icon);
//       mask-size: var(--icon-size) var(--icon-size);
//       mask-position: center;
//       mask-repeat: no-repeat;
//       padding: 0.2rem 0;
//     }
  
//     .callout-title-inner {
//       font-weight: $semiBoldWeight;
//     }