@use "./base.scss";

/* TEXT */

h2 { font-size: 1.5rem }

h3, h4 {font-size: 1.25rem }

/* PAGES */

.center > .page-header {
    &:has(~ .hide-date) {
      .content-meta {
        display: none;
      }
    }
    &:has(~ .hide-title) {
      .article-title {
        display: none;
      }
    }
  }

/* IMAGES */

figure:has(img) {
    margin-top: -1rem;
    text-align: center;
}

/* CALLOUTS */

.callout {
    &[data-callout="theorem"], 
    &[data-callout="axiom"],
    &[data-callout="proposition"], 
    &[data-callout="lemma"],
    &[data-callout="corollary"],
    &[data-callout="definition"] {
        --color: var(--dark);
        --border: var(--darkgray);
        --bg: var(--theorem-bg);
        --callout-icon: url("");

        font-family: 'Times New Roman', Times, serif;
        font-style: var(--body-style);

        .callout-title {
            font-style: normal;
            font-weight: normal;
            display: flex;
            align-items: baseline;

            .callout-icon {
                display: none;
            }

            &::before {
                font-weight: bold;
                content: var(--callout-prefix);
                text-transform: captialize;
            }

            & > .callout-title-inner {
                font-weight: normal;
                display: inline;
                align-items: baseline;
                gap: 0;

                & > p {
                    &::before {
                        content: " (";
                    }
                    &::after {
                        content: ").";
                        margin-left: 0;
                        gap: 0;
                    }
                }
            }
        }
    }

    &[data-callout="theorem"] {
        --callout-prefix: "Theorem";
        --body-style: italic;
        --theorem-bg: var(--highlight);
    }
    &[data-callout="axiom"] {
        --callout-prefix: "Axiom";
        --body-style: italic;
        --theorem-bg: var(--highlight);
    }
    &[data-callout="proposition"] {
        --callout-prefix: "Proposition";
        --body-style: italic;
        --theorem-bg: var(--highlight);
    }
    &[data-callout="lemma"] {
        --callout-prefix: "Lemma";
        --body-style: italic;
        --theorem-bg: var(--highlight);
    }
    &[data-callout="corollary"] {
        --callout-prefix: "Corollary";
        --body-style: italic;
        --theorem-bg: var(--highlight);
    }
    &[data-callout="definition"] {
        --callout-prefix: "Definition";
        --body-style: normal;
        --theorem-bg: var(--light);
    }
}

.callout {
    &[data-callout="remark"],
    &[data-callout="exm"] {
        --color: var(--dark);
        --border: var(--darkgray);
        --bg: var(--light);
        
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight: normal;
        
        .callout-title {
            display: none;
        }

        .callout-content {
            margin-top: 1rem;
            > p {
                margin: 0;
                &:first-child {
                    &::before {
                        content: var(--callout-prefix);
                        font-style: italic;
                        font-weight: normal;
                        margin-right: 1em;
                    }
                }
                &:not(:first-child) {
                    text-indent: 1.5rem;
                    margin-top: 0;
                }
            }
            margin-bottom: 1rem;
        }
    }

    &[data-callout="remark"] {
        --callout-prefix: "Remark.";
    }
    &[data-callout="exm"] {
        --callout-prefix: "Example.";
    }
}



